  body {
    background-color: #212024;
    color: #fff;
  }

  .rodape{
    border-top: 1px solid #333;
    padding-top: 2px;
    bottom: 0;
    height: 30px;
    position: fixed;
    background-color: #212024;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  nav {
    background-color: #212024;
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }

  nav ul li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
  }

  main {
    padding: 20px;
  }

.grupo {
    width: 200px;
    opacity: 0.9;
}

.bateria {
    width: 100px;
}